@import "modern-normalize";
@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary-50: #ebfef8;
  --color-primary-100: #ccfdf0;
  --color-primary-200: #9dfade;
  --color-primary-300: #6cf4cc;
  --color-primary-400: #46eab7;
  --color-primary-500: #53f6c7;
  --color-primary-600: #1cc699;
  --color-primary-700: #1a9e7d;
  --color-primary-800: #1a7d65;
  --color-primary-900: #196754;
  --color-primary-950: #083c31;

  /* Layout */
  --color-background: #f8fafc;
  --color-foreground: #0f172a;

  /* Secondary */
  --color-secondary-500: #0079d1;

  /* Brand Constants */
  --color-brand: var(--color-primary-500);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-background);
  color: var(--color-foreground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.grainy:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='discrete' tableValues='0 1'/%3E%3CfeFuncG type='discrete' tableValues='0 1'/%3E%3CfeFuncB type='discrete' tableValues='0 1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

input {
  outline: 0;
  color: #1b5980;
  font-size: 12px;
}

input:focus {
  border-color: #1b5980;
}

button {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-foreground);
}